.button {
    min-width: 80px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--black);
    color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.button:hover {
    background-color: var(--blackHover);
}

#new {
    background-image: url('new.png');
    background-size: 22px;
}

#share {
    background-image: url('share.png');
    background-size: 35px;
    margin-right: 8px;
}

#remove {
    background-image: url('remove.png');
    background-size: 22px;
}

#return {
    background-image: url('return.png');
    background-size: 30px;
}

