.image-overlay {
    z-index: -1;
    position: absolute;
    top: 60px; 
    width: 100%;
    height: calc(100% - 60px);
    min-height: 620px; 
    background-image: url('./bg.jpeg');
    background-position: center;
    background-size: cover;
    opacity: .3;
    filter: blur(3px) grayscale(33%);
}

.color-overlay {
    z-index: -1;
    position: absolute;
    top: 60px; 
    width: 100%;
    height: calc(100% - 60px);
    min-height: 620px; 
    background-image: linear-gradient(
        to right,
        var(--blue) 0%,
        var(--blue) 64.75%,
        var(--cream) 65.25%,
        var(--cream) 100%
    )
}

.gradient-overlay {
    z-index: -1;
    position: absolute;
    top: 60px; 
    width: 100%;
    height: calc(100% - 60px);
    min-height: 620px; 
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,.1)30%,
        rgba(0,0,0,.5)
    )
}

.home-container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
}

.home-wrap {
    height: calc(100vh - 60px);
    min-height: 620px; 
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slogan-container {
  width: 100%;
  padding: 0 80px;
  box-sizing: border-box;
}

.slogan-container h1 {
    margin: 0;
    height: 12vw; 
    width: 68%;
    font-size: 3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: 'Verdana';
    text-shadow: -.05vw -.05vw 0 var(--black);
    box-shadow: .05vw .05vw 0 0 var(--black);
    cursor: default;
}

.plan-early {
    background-color: white;
    color: var(--gray);
}

.relax-wrap {
    display: flex;
    justify-content: flex-end;
}

.relax {
    background-color: var(--gray);
    color: var(--orange);
}

.home-wrap h2 {
    margin: 0 auto;
    color: white;
    text-shadow: .05vw .05vw 0 var(--black);
    font-family: 'Georgia';
    font-size: 2vw; 
    cursor: default;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
}

.signup, .login {
    border-radius: .6vw;
    width: 14vw;
    height: 6vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    font-family: Verdana;
    box-shadow: .05vw .05vw 0 0 var(--black);
    cursor: pointer;
}

.signup {
    background-color: var(--orange);
    color: var(--black);
}

.signup:hover {
    background-color: var(--orangeHover);
}

.login {
    background-color: var(--black);
    color: white; 
}

.login:hover {
    background-color: var(--blackHover);
}

@media (min-width: 993px)  and (max-width: 1200px) {


    .slogan-container {
        min-width: 600px;
    }

    .slogan-container h1 {
        height: 144px;
        min-width: 298px;
        font-size: 36px;
    }
    
    .home-wrap h2 {
        font-size: 24px;
        min-width: 600px; 
        margin: 0 auto; 
        text-align: center;
    }

    .signup, .login {
        width: 168px;
        height: 72px;
        font-size: 24px;
    }
 
    
    
}

@media (max-width: 992px) {
    .image-overlay, .color-overlay, .gradient-overlay {
        min-height: 800px; 
    }
    .home-container {
        flex-direction: column;
        padding-top: 24px;
        box-sizing: border-box;
    }
    .home-wrap {
        height: 75%;
        min-height: 610px;
        width: 100%; 
    }
    .mobile-home-wrap {
        height: 25%; 
        min-height: 150px;
        justify-content: flex-start;
    }
    .home-wrap h2 {
        font-size: 4vw; 
    }
    .slogan-container h1 {
        height: 24vw; 
        font-size: 6vw; 
        text-shadow: -.1vw -.1vw 0 var(--black);
        box-shadow: .1vw .1vw 0 0 var(--black);
    }
    .color-overlay {
        background-image: linear-gradient(
            to right,
            var(--blue) 0%,
            var(--blue) 70.75%,
            var(--cream) 71.25%,
            var(--cream) 100%
        )
    }
    .dropdown-menu {
        width: 29%;
    }
    .signup, .login {
        border-radius: 1.2vw;
        width: 28vw;
        height: 12vw;
        box-shadow: .1vw .1vw 0 0 var(--black);
        font-size: 4vw;
    }
}
