nav {
    z-index: 1;
    height: 60px;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

nav h2 {
    padding-left: 16px;
    align-self: center;
    margin: 0; 
    color: var(--orange);
    font-family: Georgia;
    cursor: default;
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.dropdown-icon-container {
    height: 60px; 
    min-width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 16px; 
    box-sizing: border-box;
    cursor: pointer;
}
nav span {
    height: 2px;
    cursor: pointer;
    background-color: white;
    display: block;
  }

.dropdown-icon-container:hover span {
    background-color: var(--gray);
}